# https://help.ubuntu.com/community/KickstartCompatibility
#
lang en_US
langsupport en_US
keyboard us
mouse
timezone Etc/UTC
rootpw --disabled
user stack --fullname "stack" --password "stack"
reboot
text
install
cdrom
auth  --useshadow  --enablemd5

# System bootloader configuration
bootloader --location=mbr

# Clear the Master Boot Record
zerombr yes

# Partition clearing information
clearpart --all --initlabel

# network --device=eth0 --bootproto=static --ip=10.0.0.50 --netmask=255.255.255.0 \
#         --nameserver=10.0.0.1 --gateway=10.0.0.1

network --bootproto=dhcp --device=eth0

firewall --disabled
skipx
%packages
@ ubuntu-server
openssh-server

%post
echo "post-install payload in kickstart" >> /root/kickstart.log
