# https://help.ubuntu.com/community/KickstartCompatibility
#
lang en_US
langsupport en_US
keyboard us
mouse
timezone Etc/UTC
{% if iso_username %}
rootpw --disabled
user stack --fullname "stack" --iscrypted --password "{{ iso_encrypted_password }}"
{% else %}
rootpw --iscrypted "{{ iso_encrypted_password }}"
{% endif %}
reboot
text
install
cdrom
auth  --useshadow  --enablemd5

# System bootloader configuration
bootloader --location=mbr

# Clear the Master Boot Record
zerombr yes

# Partition clearing information
clearpart --all --initlabel

{% if iso_dhcp %}
network --bootproto=dhcp --device=eth0
{% else %}
network --device=eth0 --bootproto=static --ip={{ iso_ip }} --netmask={{ iso_netmask }} --nameserver={{ iso_dns }} --gateway={{ iso_gateway }}
{% endif %}

firewall --disabled
skipx
%packages
@ ubuntu-server
openssh-server

%post
echo "post-install payload in kickstart" >> /root/kickstart.log
